<div class="grid">

    <% @post.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert"> 
            <%= message %> 
        </div>
    <% end %>

    <%= form_for @post do |f| %>

        <div class="form-group">

            <%= f.label "Please Tell Us Your Name or Nickname." %>
            <%= f.text_field :user_name, class: "form-control", placeholder: "Wabalababoo" %>

        </div>

        <div class="form-group">

            <%= f.label "Here Goes the Content of Your Post" %>
            <%= f.text_area :text, class: "form-control", placeholder: "I like oranges.", rows: 7 %>

        </div>

        <div class="row">

            <div class="col-md-12 text-right">
        
                <%= f.submit "Add Post", class: "btn btn-primary" %>

            </div>

        </div>

    <% end %>
    
</div>
